<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary | plainify | truncate 160 }}{{ else }}{{ .Site.Params.description }}{{ end }}">

{{ if .Params.image }}
  {{ with .Resources.GetMatch .Params.image }}
    <meta property="og:image" content="{{ .Permalink }}">
  {{ else }}
    <meta property="og:image" content="{{ .Params.image | absURL }}">
  {{ end }}
{{ else if .Site.Params.default_image }}
  <meta property="og:image" content="{{ .Site.Params.default_image | absURL }}">
{{ else }}
  <meta property="og:image" content="{{ "/img/logo.jpg" | absURL }}">
{{ end }}

<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
<meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary | plainify | truncate 160 }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="twitter:image" content="{{ with .Resources.GetMatch .Params.image }}{{ .Permalink }}{{ else }}{{ .Params.image | absURL }}{{ end }}">